.memeCard {
  cursor: pointer;
  background-color: rgb(40, 40, 40); /* card background */
  padding: 0.75rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  gap: 0.5rem;

  transition: transform 0.15s ease-in-out;
}

.memeCard:hover{
  transform: scale(1.03);
}

.imgArea{
  /* background-color: rgba(0, 0, 0, 0.262); */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.memeCard img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  /* border-radius: 6px; */
}

.info {
  font-size: 20px;
}

.info > p{
  font-size: 8px;
  color: grey;
  font-style: italic;
}

.post-info{
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.likes-container{
  gap: 0.5rem;
  display: flex;
}

.likes-container{
  color: whitesmoke;
}

.memeCard > .info > p{
  /* color: white; */
  padding-left: 5px;
}