img{
  width: 200px;
}

.meme span {
  cursor: pointer;
  position: absolute;
  user-select: none;
}

.meme span p{
  width: fit-content;
  margin: 0;
}

.meme p.selected-text{
  border: 1px solid rgb(196, 196, 196);
}

.meme p.held{
  border: 1px rgb(79, 79, 79) solid;
}