img{
  width: 200px;
}

.meme{
  position: relative;
}

.meme span {
  cursor: grab;
  position: absolute;
  user-select: none;
}

.meme span p{
  width: fit-content;
  margin: 0;
}

.meme p.selected-text{
  border: 1px solid rgb(196, 196, 196);
  cursor: grab;
}

.meme p.held{
  cursor: grabbing;
  border: 1px rgb(79, 79, 79) solid;
}