.select {
  border: 1px solid #333;
  background: #181818;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  padding: 10px 5px;
  border-radius: 8px;
  width: 80px
}

.font-item:hover {
  background: #222;
}
