@import "tailwindcss";


.main{
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
}

body{
  display: flex;
  justify-content: center;
}

input{
  background: #121212;
  border: 1px solid #2e2e2e;
  border-radius: 8px;
  padding: 10px 12px;
  color: #ffffff;
  font-size: 12px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  width: 100px;
}

input::placeholder{
  color: #777;
}
input:focus{
  border-color: #071837;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.249);
}