*{
  font-family: inter;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: rgb(19, 19, 19);
  
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}